﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title-VNEXPRESS</title>
    <link href="~/content/css/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
   @RenderBody();
</body>
</html>