﻿body h1 {
    background-color: aqua;
}

body .top-bar {
    background-color: red;
}

    body .top-bar .main-bar {
        width: 80%;
        background-color: gray;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

        body .top-bar .main-bar .contact-left {
            width: 40%;
            background-color: yellow;
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        body .top-bar .main-bar .login-right {
            width: 40%;
            background-color: yellow;
            display: flex;
            justify-content: space-around;
        }
