﻿
@{
    ViewBag.Title = "home - index";
    Layout = "~/Views/share/_layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>haibang</title>
    <link href="~/content/css/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="main-contain">
        <div class="banner-container">
            <img src="~/content/imagines/banner-ads-1.png" />
            <img src="~/content/imagines/banner-ads-2.png" />
            <img src="~/content/imagines/Logo_Vnexpress.png" />
        </div>
    </div>
</body>
</html>