﻿
@{
    ViewBag.Title = "hai bang";
    Layout = "~/Views/share/_layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>haibang</title>
    <link href="~/content/css/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a>023456789</a>
                <a>023456789</a>
                <button> lien he quang cao </button>
                <button> like </button>
                <button> follow </button>
                <button> youtube </button>
            </div>
            <div class="login-right">
                <button> dang nhap </button>
                <button>  dang ky </button>
                <input placeholder="tim kiem" />
            </div>
        </div>
    </div>
</body>
</html>
